<div class="container">
  <div class="row search-result">
    <% @athletes.each do |a| %>
      <div class="col-md-1"></div>
      <div class="col-md-10 card card-body member">
        <%= a.full_name %>
      </div>
      <div class="col-md-1"></div>
    <% end %>
  </div>
</div>

<%= will_paginate @athletes, renderer: BootstrapPagination::Rails %>
